$color_2: white;
$background-color_1: #FF6060;

.appartement-tag {
	color: $color_2;
	background-color: $background-color_1;
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 10px;
	    padding: 5px 24px;
}