header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10% 0 10%;
	nav {
		a {
			color: rgba(255, 96, 96, 1);
			&:first-child {
				margin-right: 57px;
			}
		}
	}
}
a {
	text-decoration: none;
	font-size: 24px;
}


.active {
  text-decoration: underline;
}

@media only screen and (max-width : 720px) {
	header {
		padding: 0px 5% 0 5%;
		img {
			width: 145px;
			height: 47px;
		}
		nav {
			a {
				&:first-child {
					margin-right: 30px;
				}
			}
		}
	}
	.innactif {
		font-size: 16px;
	}
}
