.appartement-info{
    margin-inline: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #FF6060;
}

.appartement-header {
    display: grid;
    grid-template-columns: 1fr;
}

.appartement-host {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.appartement-tag {
    color: white;
    background-color: #FF6060;
    padding-inline: 40px;
    padding-block: 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

.appartement-bascule {
    display: flex;
    flex-direction: row;
    gap:95px;
    margin-top: 30px;
    margin-inline: 100px;
}

@media screen and (min-width: 768px){
 .appartement-header {
    grid-template-columns: 1fr 1fr;
}
}