.container {
  text-align: center;
  padding: 50px 15% 50px 15%;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tags {
  display: flex;
}

.tag {
  padding: 4px;
  border-radius: 4px;
  background: #FF6060;
  margin-right: 4px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 340px;
  width: 33%;
  color: white;
  display: flex;
  margin: 5%;
}

.thumbnail p {
  margin-top: auto;
  margin-bottom: 0;
  padding: 8px 4px;
  text-align: left;
}
