.banner-component {
	h1 {
		color: white;
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 48px;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	margin-block: 60px;
	position: relative;
	img {
		height: 223px;
		width: 100%;
		object-fit: cover;
		border-radius: 25px;
		filter: brightness(70%);
	}
}
@media only screen and (max-width : 720px) {
	.banner-component {
		h1 {
			font-size: 24px;
			width:100%;
		}
		margin-block: 0;
		width: 100%;
		img {
			border-radius: 10px;
			height: 111px;
		}
	}
}
